<script id='publication-template' type='text/x-handlebars-template'>{{#if this}}
    <span class="publication">{{#ifCond attributes 'hasname' 'authors'}}{{valueWithName 'authors' attributes}}{{#ifCond attributes 'hasname' 'year'}} ({{valueWithName 'year' attributes}}){{/ifCond}}.{{/ifCond}}
        {{#ifCond this.attributes 'hasname' 'title'}}
            {{#if URLs}}
                    <a href="{{URLs.0.url}}" target="_blank">{{valueWithName 'title' attributes}}</a>
                {{else}}
                {{valueWithName 'title' attributes}}
            {{/if}}
        {{/ifCond}}
        {{#ifCond attributes 'hasname' 'journal'}} <i>{{valueWithName 'journal' attributes}}</i>.{{/ifCond}}
        {{#ifCond attributes 'hasname' 'publication date'}} {{valueWithName 'publication date' attributes}};{{/ifCond}}
        {{#ifCond attributes 'hasname' 'volume'}} Volume {{valueWithName 'volume' attributes}}.{{/ifCond}}
        {{#ifCond attributes 'hasname' 'issue'}} Issue {{valueWithName 'issue' attributes}}.{{/ifCond}}
        {{#ifCond attributes 'hasname' 'pages'}} Page: {{valueWithName 'pages' attributes}}.{{/ifCond}}
        {{#each URLs}}
            <span class="publication-link">
                <span class="publication-link-type"><i class="fa fa-external-link-alt" aria-hidden="true"></i> {{type}}</span>
                <a href="{{url}}" target="_blank">{{valueWithName 'text' attributes}}</a>
            </span>
        {{/each}}
        {{#each attributes}}{{#ifCond @key 'notincaseignored' "['authors','accno','title','journal','publication date','volume','issue','pages','URLs']"}},{{asString this }} {{this}}{{/ifCond}}{{/each}}
    </span>
    {{/if}}
</script>
